@import "foundation.scss";
@import "_settings.scss";

@include foundation-global-styles;
@include foundation-top-bar;
@include foundation-menu;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-table;

.logo{
  background: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height:50px;
  width:100px;
}


.top-bg{
  background:url('../images/side-background.jpg');
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  height: 250px;
  margin-bottom: 40px;
  padding-top: 70px;
  padding-right: 40px;
  color:rgba(255, 255, 255, 0.75);
}

table.prices{
  th,td{
    text-align: center;
  }

}
